<li id="fund_record-<%= fund_record.id %>">
  <span class="title"><%= link_to fund_record.project.title, fund_record.project %></span>
  <span class="description">description : <%= fund_record.project.description %></span>
  <span class="description">amount : <%= fund_record.amount %></span>
</li>